NodeRedFlow.json
[{"id":"460759e6.c7e068","type":"tab","label":"Watson Assisstant","disabled":false,"info":""},{"id":"56e43716.adebf8","type":"watson-conversation-v1","z":"460759e6.c7e068","name":"Assisstant","workspaceid":"9389d658-f95b-4733-bbc9-f06b5f873e38","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/b90599fe-055a-44a1-a20a-57082faf9b57","timeout":"","optout-learning":false,"x":375,"y":180,"wires":[["4fdc0fa1.32667","29871c19.fb8b74"]],"l":false},{"id":"5514de8c.9a5b5","type":"function","z":"460759e6.c7e068","name":"F1","func":"msg.payload = msg.payload.text; \nreturn msg;","outputs":1,"noerr":0,"x":255,"y":260,"wires":[["56e43716.adebf8","6f6a708.3fb469"]],"l":false},{"id":"ca89bf93.2826","type":"ui_form","z":"460759e6.c7e068","name":"","label":"Your QUERIES ~HERE~","group":"c3dcd248.c61fc","order":1,"width":0,"height":0,"options":[{"label":"Enter the input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":95,"y":280,"wires":[["5514de8c.9a5b5"]],"l":false},{"id":"4fdc0fa1.32667","type":"function","z":"460759e6.c7e068","name":"F2","func":"if(msg.payload.output.error){\n    msg.payload = \"Are you tring to mess up? if NO Please rephrase\";\n    return msg;\n}\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":240,"wires":[["23e320d6.6f76a"]],"l":false},{"id":"6f6a708.3fb469","type":"ui_text","z":"460759e6.c7e068","group":"c3dcd248.c61fc","order":3,"width":0,"height":0,"name":"","label":"Y 0 U ","format":"{{msg.payload}}","layout":"col-center","x":395,"y":360,"wires":[],"l":false},{"id":"23e320d6.6f76a","type":"ui_text","z":"460759e6.c7e068","group":"c3dcd248.c61fc","order":6,"width":"6","height":"6","name":"","label":"MY - B O T","format":"{{msg.payload}}","layout":"col-center","x":690,"y":360,"wires":[],"info":"## # ## "},{"id":"29871c19.fb8b74","type":"debug","z":"460759e6.c7e068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":540,"y":80,"wires":[]},{"id":"c3dcd248.c61fc","type":"ui_group","z":"","name":"MY - B O T","tab":"6566e43d.3afa1c","order":1,"disp":true,"width":"6","collapse":false},{"id":"6566e43d.3afa1c","type":"ui_tab","z":"","name":"T E J A","icon":"dashboard","disabled":false,"hidden":false}]